.company {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.company-block {
    font-size: 60px;
    font-weight: 800;
    line-height: 62px;
    max-width: 509px;
    text-align: center;
}

.company-block__paragraph {
    max-width: 458px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 120px;
}

.wrapper-company {
    color: #ffff;
    border-radius: 40px;
}

@media (max-width: 390px) {
    .company {
        padding-bottom: 64px;
    }

    .company-block {
        font-size: 40px;
        line-height: 40px;
    }

    .company-block__paragraph {
        padding-bottom: 64px;
    }
}